body{
    background-color: blueviolet;

}
p{
display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.header-blue .iphone-mockup img.device {
    width: 100%;
    height: auto;
  }
  
  .header-blue .iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    background-color: #aaa;
    overflow: hidden;
    background: url(../../assets/img/screen-content-iphone-6.jpg);
    background-size: cover;
    background-position: center;
  }

  span{
    font-weight: bold;

  }

  button{
    padding-top: 30px;

  }