$page_colour: blue;

container {background-color: $page_colour;}


html{

    background-color:blueviolet

}

h1{
    font-style: italic;

}

.lead{
    color: rgb(227, 28, 160);
    border: solid $page_colour;
}

#frontCat{

    align-items: center;
    
    padding-top: 50px;
    height: 300px;
}

.panel-default > .panel-heading {
    background-color:chartreuse;
}
